@use '../abstract/_abstracts-dir' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



$font-weights : (
    "light" : 300,
    "regular" : 400,
    "medium" : 500,
    "semi-bold" : 600,
    "bold" : 700
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

/*
    Basic
*/

h1 {
    font-size : 48px;
}

h2 {
    font-size : 34px;
}

h3 {
    font-size : 24px;
}

h4 {
    font-size : 20px;
}

h5 {
    font-size : 16px;
}

h6 {
    font-size : 14px;
}

p {
    .large {
        font-size : 19.2px;
    }
    .regular {
        font-size : 16px;
    }
    .small {
        font-size : 13.33px;
    }
}

/*
    Font Families
*/

.primary-font {
    font-family : $primary-font;
}

.secondary-font {
    font-family : $secondary-font;
}

/*
    Font Styles
*/

.light {
    font-weight : weight(light);
}

.regular {
    font-weight : weight(regular);
}

.medium {
    font-weight : weight(medium);
}

.semi-bold {
    font-weight : weight(semi-bold);
}

.bold {
    font-weight : weight(bold);
}

/*
    Alignments
*/
.text-center {
    text-align : center;
}