@use 'breakpoints' as *;

//Breakpoints
@mixin sm {
    @media (min-width : #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width : #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width : #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width : #{$screen-xl-min}) {
        @content;
    }
}

//Code shortcuts
@mixin displayFlex($direction) {
    display : flex;
    flex-direction: $direction;
}

@mixin size($height, $width) {
    height : $height;
    width : $width;
}