@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');

$primary-font : 'Montserrat', sans-serif;
$secondary-font : 'Open Sans', sans-serif;

h1 {
    font-family : $primary-font;
    color : $highlight-color;
}

h3 {
    font-family : $primary-font;
    color : $secondary-color;
}

p {
    font-family : $secondary-font;
    color : #FFFFFF;
}

.text-center {
    text-align : center;
}