@import 'color';
@import 'fonts';

* {
    margin : 0;
    padding : 0;
}

body {
    background-color : $primary-color;
}

.container {
    width : 1024px;
    margin : 20px auto;
}

.jumbotron {
    height : 100vh;
    display : flex;
    flex-direction : row;

    .jumbotron-fragment {
        width : 50%;
        display : flex;
        flex-direction : column;
        justify-content : center;

        .introduction, .about {
            height : 50%;
            display : flex;
            flex-direction : column;
            margin : 24px 0;
        }
    
        .introduction {
            justify-content : flex-end;
        }
        
        .about {
            justify-content : flex-start;
        }
    
        .photo {
            height : 500px;
            width : auto;
        }
    }
}

.past-project {
    margin : 24px;
}

.portfolio-wrapper {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;

    .portfolio-item {
        width : 400px;
        padding : 12px;

        .portfolio-text {
            a {
                color : $highlight-color;
                font-family : $secondary-font;
                font-weight : 700;
                text-decoration : none;
            }
            margin : 12px;
        }

        .portfolio-picture {
            width : 100%;
            height : 300px;
            background-color : $secondary-color;
        }
    }
}